@import "tailwindcss";
:root {
  font-family: "Urbanist", sans-serif;;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
    box-sizing: border-box;
}
button{
  cursor: pointer;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
@theme {
  --color-purple-60: #703BF7;
  --color-purple-65: #8254F8;
  --color-purple-70: #946CF9;
  --color-purple-75: #A685FA;
  --color-purple-90: #DBCEFD;
  --color-purple-95: #EDE7FE;
  --color-purple-97: #F4F0FE;
  --color-purple-99: #FBFAFF;
  --color-grey-08: #141414;
  --color-grey-10: #1A1A1A;
  --color-grey-15: #262626;
  --color-grey-20: #333333;
  --color-grey-30: #4D4D4D;
  --color-grey-40: #666666;
  --color-grey-50: #808080;
  --color-grey-60: #999999;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0);
}
html {
  scrollbar-width: thin;
  scrollbar-color: #703bf73b transparent;
}